@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    --app-background-color: #161817;
    --app-background-secondary-color: #222;
    --app-border-color: #fff;
    --app-shadow-color: #002e47;
    --app-selection-color: #005382;
    --text-base-color: #fff;
    --text-secondary-color: #ccc;
    --text-title-color: #daedff;
    --text-subtitle-color: #c6e4ff;
    --text-small-color: #aaa;
  }
}

html[scheme="light"] body {
  --app-background-color: #fefefe;
  --app-background-secondary-color: #fafafa;
  --app-border-color: #000;
  --app-shadow-color: #d2effd;
  --app-selection-color: #6cd0ff;
  --text-base-color: #000;
  --text-secondary-color: #333;
  --text-title-color: #011440;
  --text-subtitle-color: #001e63;
  --text-small-color: #555;
}

html[scheme="dark"] body {
  --app-background-color: #111616;
  --app-background-secondary-color: #222;
  --app-border-color: #fff;
  --app-shadow-color: #002e47;
  --app-selection-color: #005382;
  --text-base-color: #fff;
  --text-secondary-color: #ccc;
  --text-title-color: #daedff;
  --text-subtitle-color: #c6e4ff;
  --text-small-color: #aaa;
}

body {
  background-color: var(--app-background-color);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  color: var(--text-base-color);
}

a {
  color: inherit;
  text-decoration: none;
}
li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}

/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

dialog {
  display: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-gold-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}
